@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background: ghostwhite;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-top: 35px;
}
